*{
    padding: 0;
    margin: 0;
}


body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    background: #090909;
}
#box{
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
}
#myInputs{
    border: 1px solid white;
}
#myInputs input{
    width: 95%;
    height: 5%;
    margin: 5px;
    text-align: center;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background: none;
}
#myTanks{
    margin-top: 5px;
}
#myTanks button{
    width: 100%;
    height: 8%;
    border: 1px solid white;;
    color: white;
    background: none;
    cursor: pointer;
}


#enInputs{
    border: 1px solid white;
}
#enInputs input{
    width: 95%;
    height: 5%;
    margin: 5px;
    text-align: center;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    background: none;
}
#enTanks{
    margin-top: 5px;
    border: 1px solid white;
}
#enTanks button{
    width: 100%;
    height: 8%;
    border: 1px solid white;;
    color: white;
    background: none;
    cursor: pointer;
}

#middleBox{
    margin-top: 20px;
}
#tanksData{
    display: grid;
    grid-template-columns: 50% 50%;
}

section{
    border: 1px solid white;
    width: 100%;
    color: white;
    text-align: center;
}
#tanksData h1{
    margin: 2px;
}
#tanksData p{
    height: 30px;
}

#gameData{
    width: 100%;
    color: white;
    text-align: center;
    border: 1px solid white;
}
#gameData h1{
    margin: 2px;
}
#gameData p{
    height: 30px;
}


#shotButton{
    width: 100vw;
    text-align: center;
}
#shoting{
    width: 90vw;
    height: 10vh;
    background: none;
    color: white;
    font-size: 40pt;
    cursor: pointer;
}